@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

:root {
  --main-color: rgb(182, 233, 253);
  --me-margin: 40px;
  --font-color: #373a3c;
}

.main {
  margin: 0px;
  background-image: linear-gradient(
    -225deg,
    #77a1d3 0%,
    #79cbca 56%,
    #e684ae 100%
  );
}
h1 {
  font-family: Bebas Neue, cursive;
  font-size: 50px !important;
  text-align: center;

  margin: 0px;
  letter-spacing: 3px;
}

h2 {
  margin: 10px 10px;
  text-align: center;
  font-family: Roboto;
  font-size: 25px !important;
}

.pages {
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem 1rem;
}

.project {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.study {
  margin: 5px;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.card {
  padding: 2px;
  text-align: center;
  line-height: 20px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
}

.card-body {
  padding: 5px;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

.projects {
  margin: 0rem 1.5rem;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mainBody {
  margin: 1rem 10rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}

.card-title {
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  text-align: center;
}

.img-thumbnail {
  width: 310px !important;
  height: 200px !important;
  object-fit: cover;
}

.gel {
  width: 350px;
  height: 450px;
  object-fit: cover;
}

.aboutme {
  font-size: 23px;
  line-height: 3rem;
  padding: 3rem;
  justify-content: end;
}

.about {
}

.skillGroup {
  display: flex;
  justify-content: center !important;
  align-items: start;
  font-size: 20px;
  line-height: 2rem !important;
  margin: 3rem;
  padding: 0rem 3rem 0rem 3rem;
}

.badges {
  justify-content: space-around;
}

.error-text {
  color: red;
}
